.DS_Store
*.log
*.local

# Dependencies
node_modules/

# Bun
bun install

# Quasar / Vite
.quasar/
dist/

# Lockfiles from other package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor
.idea/
.vscode/
*.swp
